.link {
	padding: 10px;
	color: white;
	background: purple;
	transition: 0.3s;
}
.link:hover {
	color: white;
	padding: 13px;
}
.spider {
	float: left;
}
.updates {
	float: right;
}
a.delete-all-link {
	position: absolute;
		bottom: 10px;
		right: 10px;
	padding: 10px;
	background: red;
	color: white;
	transition: 0.3s;
}
a.delete-all-link:hover {
	padding: 13px;
}
.upload-many {
	text-align: right;
}
.upload-many-link {
	padding: 10px;
	background: purple;
	color: white;
	transition: 0.2s;
}
.upload-many-link:hover {
	color: white;
	padding: 13px;
}