.add {
	color: purple;
	cursor: pointer;
	transition: 0.25s;
}
.add:hover {
	color: black;
}
.add-icon {
	font-size: 45px;
}
.add-product {
	font-size: 35px;
}
.products {
	position: relative;
}
.suggestions {
	width: 96.5%;
	background: white;
	border: 1px solid purple;
	border-radius: 5px;
	position: absolute;
	top: 40px;
	z-index: 100;
}
.suggestions ul {
	list-style-type: none;
	font-size: 14px;
	padding-left: 0;
	margin-bottom: 0;
}
.suggestions ul li {
	color: black;
	cursor: pointer;
	padding: 5px 10px;
	display: block;
	transition: 0.2s;
}
.suggestions ul li:hover{
	color: white;
	background: purple;
	padding: 8px 13px;
}
.products, .product {
	margin-bottom: 20px;
}
.products-holder .image-holder {
	padding: 10px;
	width: 80px;
	margin-right: 10px;
	background: #EAEAEA;
	float: left;
	transition: 0.2s;
}
.products-holder .image-holder:hover {
	padding: 0px;
}
.products-holder .product-info-holder {
	margin-right: 20px;
	font-size: 18px;
	float: left;
}
.product .quantity-holder {
	margin-bottom: 20px;
	float: left;
}